
.clearfix {
  zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}


.cf {
  zoom: 1;
}

.cf:before, .cf:after {
  display: table;
  content: "";
}

.cf:after {
  clear: both;
}
