@charset "UTF-8";

html, body {
  min-height: 100%;
}


body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, 'Hiragino Sans', "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  font-size: 15px;
  font-weight: 400;
  color: #404346;
  line-height: 1.6;
}


::selection {
  color: inherit;
  background: #bbf7ff;
}


#main-inner {
  display: flex;
  width: 100%;
}

#main-inner #content {
  width: calc(100% - 270px);
}

#main-inner #sidebar {
  width: 270px;
  background: #f0f0f0;
}

@media only screen and (max-width: 780px) {

  #main-inner #content {
    width: 100%;
  }

  #main-inner #sidebar {
    display: none;
  }
}
